In [117]:
import pandas as pd
df=pd.read_csv("tekworks/transactions.csv")
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [118]:
# Calculate total sales amount
total_sales = df["t_amt"].sum()
print("Total Sales Amount:", total_sales)

Total Sales Amount: 5110820.54

In [119]:
#
df["t_date"] = pd.to_datetime(df["t_date"])
df["year_month"] = df["t_date"].dt.to_period("M")
monthly_sales = df.groupby("year_month")["t_amt"].sum()
highest_month = monthly_sales.idxmax()
highest_amount = monthly_sales.max()
print("Month with Highest Total Transaction Amount:", highest_month)
print("Highest Total Amount:", highest_amount)

Month with Highest Total Transaction Amount: 2015-03
Highest Total Amount: 444664.24

In [120]:
# Calculate average transaction amount per customer
avg_per_customer = df.groupby("cust_id")["t_amt"].mean()
print(avg_per_customer)

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [121]:
trend=df.groupby("year_month")["t_amt"].sum()
print(trend)

year_month
2015-01    438165.76
2015-02    395262.37
2015-03    444664.24
2015-04    420695.24
2015-05    432627.58
2015-06    421074.55
2015-07    439560.80
2015-08    434255.01
2015-09    429321.63
2015-10    424856.28
2015-11    408846.35
2015-12    421490.73
Freq: M, Name: t_amt, dtype: float64

In [122]:
#highest single transaction amount recorded
df['t_amt'].max()

200.0

In [123]:
service_revenue = df.groupby("services")["t_amt"].sum()

# Find service with highest revenue
top_service = service_revenue.idxmax()

print("Service Category with Highest Revenue:", top_service)

Service Category with Highest Revenue: Outdoor Recreation

In [124]:
#product generated highest revenue
product_avg = df.groupby("products_used")["t_amt"].mean()
print(product_avg.idxmax())
print(product_avg.max())

Beach Volleyball
108.69411622276029

In [125]:
#average transaction amount vary between services
average_transaction=df.groupby("services")["t_amt"].mean()
average_transaction

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [126]:
# Count unique customers
df["cust_id"].nunique()

9926

In [127]:
#customers have spent the most overall 
customers=df.groupby("cust_id")["t_amt"].sum()
customers
top_customer = customers.sort_values(ascending=False)
top_customer
print("Top Customer:", top_customer.idxmax())
print("Total Spent:", top_customer.max())

Top Customer: 4009485
Total Spent: 1973.3

In [128]:
# Calculate average number of transactions per customer
transactions_per_customer = df.groupby("cust_id").size()
avg_transactions = transactions_per_customer.mean()
print("Average Number of Transactions per Customer:", avg_transactions)

Average Number of Transactions per Customer: 5.037275841225066

In [129]:
#identifying customners who made purchase in defferent categories
customers=df.groupby("cust_id")["products_used"].nunique()
customers

cust_id
4000000    5
4000001    9
4000002    2
4000003    3
4000004    4
          ..
4009995    7
4009996    8
4009997    4
4009998    6
4009999    7
Name: products_used, Length: 9926, dtype: int64

In [130]:
# Identify customers with more than one transaction (repeat buyers)
transactions_per_customer = df.groupby("cust_id").size()
total_customers = transactions_per_customer.count()
repeat_customers = transactions_per_customer[transactions_per_customer > 1].count()
repeat_percentage = (repeat_customers / total_customers) * 100
print("Percentage of Repeat Buyers:", repeat_percentage)

Percentage of Repeat Buyers: 96.5645778762845

In [131]:
#identifying product category with the highest sales
highest_sales=df.groupby("products_used")["t_amt"].sum()
highest_sales
print(highest_sales.idxmax())
print(highest_sales.max())

Yoga & Pilates
47804.94

In [132]:
#identifying services which are most popular by transaction count
service_count = df["services"].value_counts()
service_count
print(service_count.idxmax())
print(service_count.max())

Outdoor Recreation
8383

In [133]:
services=df.groupby("services")["t_amt"].mean()
services
print(services.idxmax())
print(services.max())

Exercise & Fitness
103.66024749797133

In [134]:
#Identify the state with the highest total sales
total_sales=df.groupby("state")["t_amt"].sum()
total_sales
print(total_sales.idxmax())
print(total_sales.max())

California
702346.23

In [135]:
## Identify the city with the highest transaction count
highest_number=df["city"].value_counts()
highest_number
print(highest_number.idxmax())
print(highest_number.max())

Pasadena
939

In [136]:
# Calculate the average transaction amount for each state
average_transaction=df.groupby("state")["t_amt"].mean()
average_transaction

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [137]:
## Count number of transactions for each service in every state
services = df.groupby(["state", "services"]).size().unstack(fill_value=0)
print(services)
print("\nMost Popular Service in Each State:")
print(services.idxmax(axis=1))

services              Air Sports  Combat Sports  Dancing  Exercise & Fitness  \
state
Alabama                       21             44        8                 160
Arizona                       24             43       13                 175
California                   122            197       55                 988
Colorado                      35             62       13                 268
Connecticut                   19             27        7                 121
District of Columbia          10             13        6                  78
Florida                       52             93       24                 381
Georgia                       14             25        4                 125
Hawaii                         2             16        2                  57
Idaho                          9             11        6                  69
Illinois                      23             38       12                 192
Indiana                       10             14        4                  69
Iowa                          10             12        4                  72
Kansas                        21             31        4                 120
Kentucky                      28             34       11                 116
Louisiana                      6             18        5                  73
Maryland                       8             11        3                  60
Massachusetts                 30             47       10                 200
Michigan                      19             20        9                 150
Minnesota                     16             31        8                 126
Mississippi                    7             20        5                  64
Missouri                      32             36        9                 192
Nebraska                      16             29        6                 131
Nevada                        17             25        6                 152
New Jersey                    27             48       10                 206
New York                      18             23        8                 154
North Carolina                20             28        2                 128
Ohio                          39             66       17                 265
Oklahoma                       3             23        5                  62
Oregon                        41             71       11                 268
Pennsylvania                  14             22        7                 147
South Carolina                17             31       14                 115
Tennessee                     30             49       12                 288
Texas                         97            184       51                 818
Utah                          19             40       10                 137
Virginia                      27             50       13                 208
Washington                    37             52       16                 287
Wisconsin                     20             46        4                 172

services              Games  Gymnastics  Indoor Games  Jumping  \
state
Alabama                  80          74            64       52
Arizona                  89          86            76       51
California              512         422           376      319
Colorado                135         118           108       74
Connecticut              71          75            65       25
District of Columbia     31          39            25       18
Florida                 185         153           154       93
Georgia                  58          43            53       38
Hawaii                   33          28            23       23
Idaho                    39          26            19       15
Illinois                 96          90            78       48
Indiana                  29          27            27       20
Iowa                     32          30            28       13
Kansas                   60          57            49       45
Kentucky                 50          49            38       40
Louisiana                47          25            25       13
Maryland                 34          36            27       13
Massachusetts           111          89            75       53
Michigan                 67          60            60       41
Minnesota                62          47            47       39
Mississippi              29          42            27       15
Missouri                 95          85            69       56
Nebraska                 80          60            42       37
Nevada                   63          57            61       34
New Jersey               92          75            74       58
New York                 92          66            60       34
North Carolina           61          51            41       32
Ohio                    130         123            96       93
Oklahoma                 39          24            35       16
Oregon                  132         115            97       77
Pennsylvania             59          53            37       34
South Carolina           59          54            48       33
Tennessee               134         114            78       57
Texas                   418         370           312      221
Utah                     62          52            55       32
Virginia                 87          71            93       49
Washington              140         128            92       64
Wisconsin                73          82            65       40

services              Outdoor Play Equipment  Outdoor Recreation  Puzzles  \
state
Alabama                                   64                 191       12
Arizona                                   66                 247       13
California                               427                1188       83
Colorado                                  92                 279       15
Connecticut                               51                 140       10
District of Columbia                      35                  64        7
Florida                                  172                 483       35
Georgia                                   49                 153        9
Hawaii                                    28                  72        8
Idaho                                     26                  81        3
Illinois                                  74                 224       15
Indiana                                   26                  91        8
Iowa                                      15                  74        7
Kansas                                    55                 154       12
Kentucky                                  46                 156       14
Louisiana                                 35                  77        8
Maryland                                  24                  80        5
Massachusetts                             83                 253       13
Michigan                                  55                 152       15
Minnesota                                 42                 169       18
Mississippi                               25                  78        2
Missouri                                  78                 226       13
Nebraska                                  49                 149       11
Nevada                                    53                 135        7
New Jersey                                64                 225       21
New York                                  53                 140       10
North Carolina                            58                 153        8
Ohio                                      96                 307       20
Oklahoma                                  29                  70        7
Oregon                                   114                 335       25
Pennsylvania                              54                 154       10
South Carolina                            57                 162       10
Tennessee                                104                 313       28
Texas                                    307                 830       64
Utah                                      51                 136        6
Virginia                                  91                 186       23
Washington                                86                 276       22
Wisconsin                                 76                 180       15

services              Racquet Sports  Team Sports  Water Sports  Winter Sports
state
Alabama                           38          131           124             69
Arizona                           30          153           121             98
California                       205          816           720            412
Colorado                          61          211           177            108
Connecticut                       37          104           102             57
District of Columbia              15           63            55             20
Florida                           71          342           277            150
Georgia                           34          107           106             56
Hawaii                            10           59            41             21
Idaho                             13           51            60             27
Illinois                          44          165           148             91
Indiana                           14           43            38             23
Iowa                              17           61            54             25
Kansas                            31          100            96             79
Kentucky                          32          113            79             61
Louisiana                         22           58            42             18
Maryland                          18           47            47             34
Massachusetts                     39          158           126             88
Michigan                          36          111           114             58
Minnesota                         31          114            96             48
Mississippi                       12           62            55             30
Missouri                          46          147           142             86
Nebraska                          26          115            82             65
Nevada                            39          109            84             63
New Jersey                        45          157           136             85
New York                          30          119           105             73
North Carolina                    30           90            81             65
Ohio                              60          215           204            130
Oklahoma                          14           65            40             22
Oregon                            65          201           172            102
Pennsylvania                      24          101            94             70
South Carolina                    37          123            98             59
Tennessee                         51          207           199            126
Texas                            164          621           537            345
Utah                              30          116            82             53
Virginia                          56          180           170             72
Washington                        50          223           189            128
Wisconsin                         34          152           126             64

Most Popular Service in Each State:
state
Alabama                 Outdoor Recreation
Arizona                 Outdoor Recreation
California              Outdoor Recreation
Colorado                Outdoor Recreation
Connecticut             Outdoor Recreation
District of Columbia    Exercise & Fitness
Florida                 Outdoor Recreation
Georgia                 Outdoor Recreation
Hawaii                  Outdoor Recreation
Idaho                   Outdoor Recreation
Illinois                Outdoor Recreation
Indiana                 Outdoor Recreation
Iowa                    Outdoor Recreation
Kansas                  Outdoor Recreation
Kentucky                Outdoor Recreation
Louisiana               Outdoor Recreation
Maryland                Outdoor Recreation
Massachusetts           Outdoor Recreation
Michigan                Outdoor Recreation
Minnesota               Outdoor Recreation
Mississippi             Outdoor Recreation
Missouri                Outdoor Recreation
Nebraska                Outdoor Recreation
Nevada                  Exercise & Fitness
New Jersey              Outdoor Recreation
New York                Exercise & Fitness
North Carolina          Outdoor Recreation
Ohio                    Outdoor Recreation
Oklahoma                Outdoor Recreation
Oregon                  Outdoor Recreation
Pennsylvania            Outdoor Recreation
South Carolina          Outdoor Recreation
Tennessee               Outdoor Recreation
Texas                   Outdoor Recreation
Utah                    Exercise & Fitness
Virginia                Exercise & Fitness
Washington              Exercise & Fitness
Wisconsin               Outdoor Recreation
dtype: object

In [86]:
outdoor_sales = df.groupby("state")["t_amt"].sum()
outdoor_sales
print(outdoor_sales.idxmax())
print(outdoor_sales.max())

California
702346.23

In [91]:
# Identify the state with highest Outdoor Recreation sales
print(df["products_used"].unique())
outdoor_df = df[df["products_used"].str.strip().str.lower() == "outdoor recreation".lower()]
outdoor_sales = outdoor_df.groupby("state")["t_amt"].sum()
if not outdoor_sales.empty:
    print(outdoor_sales.idxmax())
    print(outdoor_sales.max())
else:
    print("No Outdoor Recreation data found.")

['Cardio Machine Accessories' 'Weightlifting Gloves'
 'Weightlifting Machine Accessories' 'Gymnastics Rings' 'Field Hockey'
 'Camping & Backpacking & Hiking' 'Jigsaw Puzzles' 'Sandboxes'
 'Snowmobiling' 'Bungee Jumping' 'Archery' 'Swing Sets' 'Bowling'
 'Vaulting Horses' 'Fencing' 'Free Weight Bars'
 'Scuba Diving & Snorkeling' 'Baseball' 'Life Jackets'
 'Weightlifting Belts' 'Parachutes' 'Kitesurfing' 'Surfing' 'Darts'
 'Wrestling' 'Mahjong' 'Cricket' 'Hunting' 'Swimming' 'Dice & Dice Sets'
 'Soccer' 'Lawn Games' 'Indoor Volleyball' 'Board Games' 'Football'
 'Shooting Games' 'Cheerleading' 'Tetherball' 'Water Polo'
 'Abdominal Equipment' 'Exercise Bands' 'Jumping Stilts' 'Pogo Sticks'
 'Lawn Water Slides' 'Running' 'Geocaching' 'Skating' 'Windsurfing'
 'Snowboarding' 'Beach Volleyball' 'Downhill Skiing' 'Riding Scooters'
 'Poker Chips & Sets' 'Ballet Bars' 'Softball' 'Skateboarding'
 'Portable Electronic Games' 'Trampolines' 'Springboards' 'Ice Climbing'
 'Rock Climbing' 'Stopwatches' 'Gymnastics Mats' 'Towed Water Sports'
 'Team Handball' 'Sledding' 'Whitewater Rafting' 'Medicine Balls'
 'Exercise Balls' 'Dominoes' 'Water Tables' 'Equestrian' 'Pommel Horses'
 'Dice Games' 'Gymnastics Protective Gear' 'Cycling' 'Martial Arts'
 'Trampoline Accessories' 'Curling' 'Jump Ropes' 'Playhouses' 'Card Games'
 'Air Hockey' 'Slides' 'Bingo Sets' 'Weight Benches' 'Boxing'
 'Track & Field' 'Gym Mats' 'Deck Shuffleboard' 'Motorsports'
 'Cross-Country Skiing' 'Foam Rollers' 'Badminton' 'Hockey'
 'Cardio Machines' 'Yoga & Pilates' 'Golf' 'Mechanical Puzzles'
 'Snowshoeing' 'Foosball' 'Racquetball' 'Rugby' 'Tennis' 'Air Suits'
 'Bodyboarding' 'Hang Gliding' 'Disc Golf' 'Water Tubing' 'Squash'
 'Balance Beams' 'Table Shuffleboard' 'Basketball' 'Gymnastics Bars'
 'Billiards' 'Lacrosse' 'Boating' 'Fishing' 'Free Weights'
 'Weightlifting Machines' 'Wetsuits' 'Ping Pong' 'Outdoor Playsets'
 'Bobsledding' 'Luge']
No Outdoor Recreation data found.

In [93]:
# Compare average spending between the two states
state_df = df[df["state"].isin(["California", "Texas"])]
avg_spending = state_df.groupby("state")["t_amt"].mean()
print("Average Spending Comparison (California vs Texas):")
print(avg_spending)

Average Spending Comparison (California vs Texas):
state
California    102.652182
Texas         101.379891
Name: t_amt, dtype: float64

In [94]:
#Identify the quarter with highest sales
df["t_date"] = pd.to_datetime(df["t_date"])
df["quarter"] = df["t_date"].dt.to_period("Q")
quarter_sales = df.groupby("quarter")["t_amt"].sum()
top_quarter = quarter_sales.idxmax()
top_sales = quarter_sales.max()
print("Quarter with Highest Sales:", top_quarter)
print("Highest Sales Amount:", top_sales)

Quarter with Highest Sales: 2015Q3
Highest Sales Amount: 1303137.44

In [95]:
df["t_date"] = pd.to_datetime(df["t_date"])
# Extract month (Year-Month format)
df["year_month"] = df["t_date"].dt.to_period("M")
# Calculate total sales per month
monthly_sales = df.groupby("year_month")["t_amt"].sum()
print("Total Sales Month by Month:")
print(monthly_sales)

Total Sales Month by Month:
year_month
2015-01    438165.76
2015-02    395262.37
2015-03    444664.24
2015-04    420695.24
2015-05    432627.58
2015-06    421074.55
2015-07    439560.80
2015-08    434255.01
2015-09    429321.63
2015-10    424856.28
2015-11    408846.35
2015-12    421490.73
Freq: M, Name: t_amt, dtype: float64

In [101]:
#identifying total number of transactions per month
total_number_transactions=df.groupby("year_month")["t_amt"].size()
total_number_transactions

year_month
2015-01    4268
2015-02    3834
2015-03    4360
2015-04    4175
2015-05    4205
2015-06    4171
2015-07    4252
2015-08    4250
2015-09    4160
2015-10    4181
2015-11    3994
2015-12    4150
Freq: M, Name: t_amt, dtype: int64

In [104]:
#Identify the season with highest sports equipment sales
df["t_date"] = pd.to_datetime(df["t_date"])
sports_df = df[df["products_used"].str.contains("Sports", case=False, na=False)].copy()
sports_df["quarter"] = sports_df["t_date"].dt.to_period("Q")
sports_sales = sports_df.groupby("quarter")["t_amt"].sum()
print(sports_sales)
print("Highest Season:", sports_sales.idxmax())
print("Highest Sales:", sports_sales.max())

quarter
2015Q1    20234.05
2015Q2    22619.35
2015Q3    18821.49
2015Q4    21122.80
Freq: Q-DEC, Name: t_amt, dtype: float64
Highest Season: 2015Q2
Highest Sales: 22619.35

In [105]:
# Count total number of such transactions
credit_transactions = df[df["t_details"] == "Credit"].shape[0]
print("Number of Credit Transactions:", credit_transactions)

Number of Credit Transactions: 0

In [106]:
# Calculate total revenue generated from these transactions
credit_revenue = df[df["t_details"] == "Credit"]["t_amt"].sum()
credit_revenue

np.float64(0.0)

In [108]:
# Compute average transaction amount for each payment type
avg_payment = df.groupby("t_details")["t_amt"].mean()
avg_payment

t_details
cash       27.403360
credit    114.090865
Name: t_amt, dtype: float64

In [109]:
# Identify top-performing regions based on revenue
state_sales = df.groupby("state")["t_amt"].sum().sort_values(ascending=False)
city_sales = df.groupby("city")["t_amt"].sum().sort_values(ascending=False)
print("Top States:")
print(state_sales.head())
print("\nTop Cities:")
print(city_sales.head())

Top States:
state
California    702346.23
Texas         541267.24
Florida       274858.95
Ohio          188613.87
Oregon        187052.05
Name: t_amt, dtype: float64

Top Cities:
city
Pasadena       95533.98
Columbia       93853.11
Kansas City    92750.96
Columbus       90586.10
Long Beach     52686.70
Name: t_amt, dtype: float64

In [110]:
# Count total number of purchases for this category
fitness_count = df[df["products_used"] == "Exercise & Fitness"].shape[0]
print("Number of Exercise & Fitness Transactions:", fitness_count)

Number of Exercise & Fitness Transactions: 0

In [111]:
# Identify categories generating high volume but lower per-transaction value
category_sales = df.groupby("products_used")["t_amt"].sum()
category_avg = df.groupby("products_used")["t_amt"].mean()
result = pd.DataFrame({
    "Total_Sales": category_sales,
    "Average_Transaction": category_avg
}).sort_values("Total_Sales", ascending=False)

print(result)

                            Total_Sales  Average_Transaction
products_used
Yoga & Pilates                 47804.94           107.668784
Swing Sets                     47204.14           101.733060
Lawn Games                     46828.44           100.490215
Golf                           46577.68           103.047965
Cardio Machine Accessories     46485.54           104.461888
...                                 ...                  ...
Tetherball                     35611.93            95.989030
Surfing                        35069.08            99.065198
Disc Golf                      33944.02            95.081289
Mechanical Puzzles             20381.67            94.798465
Air Suits                      19371.57           101.421832

[125 rows x 2 columns]

In [116]:
# Identify services with comparatively low revenue
service_sales = df.groupby("services")["t_amt"].sum()
service_sales

services
Air Sports                 99316.90
Combat Sports             164730.67
Dancing                    42603.71
Exercise & Fitness        766463.87
Games                     374932.70
Gymnastics                327225.34
Indoor Games              288506.04
Jumping                   205842.67
Outdoor Play Equipment    294728.28
Outdoor Recreation        846678.64
Puzzles                    61564.75
Racquet Sports            166976.06
Team Sports               617461.38
Water Sports              531815.97
Winter Sports             321973.56
Name: t_amt, dtype: float64